<template>
    <div class="flex flex--jcenter">
        <div class="flex">
            <span class="margin--rl5">From</span>
            <select v-model="fromCurrency">
                <option v-for="(data, i) in getCurrencies" :key="i" :value="i">{{ data }}</option>
            </select>
        </div>
        <div class="flex">
            <span class="margin--rl5">To</span>
            <select v-model="toCurrency">
                <option v-for="(data, i) in getCurrencies" :key="i" :value="i">{{ data }}</option>
            </select>
        </div>
        <button @click="findCurrency" class="margin--rl5">Convert Currency</button>
    </div>
    <div v-if="!getListConverted"></div>
    <div v-else class="box">
        <ul>
            <li>Date: <span class="text--bold">{{ getListConverted.date }}</span></li>
            <li>Converted Currency: <span class="text--uppercase text--bold">{{ this.toCurrency }} {{ getListConverted.converted }}</span></li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return{
            fromCurrency: '',
            toCurrency: ''
        }
    },
    created() {
        this.$store.dispatch('getCurrencies')
    },
    computed: {
        getCurrencies() {
            return this.$store.state.stateCurrencies
        },
        findMatchCurrency() {
            // to find if there is matching currency or no
            let form = this.fromCurrency + ' ' + this.toCurrency
            let arr = this.$store.state.stateListConverted

            let obj = arr.find(o => o.fromTo === form);

            return obj
        },
        getListConverted() {
            if (this.findMatchCurrency == undefined) {
                return false
            } else {
                let result = {
                    // since the currency key are always changing then I have to make new object 
                    date: this.findMatchCurrency.result[Object.keys(this.findMatchCurrency.result)[0]],
                    converted: this.findMatchCurrency.result[Object.keys(this.findMatchCurrency.result)[1]]
                }   
                return result
            }
        }
    },
    methods: {
        findCurrency() {
            // if there is no matching currency, it will fetch new data
            if (this.findMatchCurrency == undefined) {
                this.convertCurrency()
            }
        },

        // action to fetch new data
        convertCurrency() {
            const data = {
                from: this.fromCurrency,
                to: this.toCurrency
            }
            this.$store.dispatch('convertCurrency', data)
        }
    }
}
</script>

<style>
    .flex {
        display: flex;
    }
    .flex--jcenter {
        justify-content: center;
    }
    .margin--rl5 {
        margin: 0 5px;
    }
    .text--uppercase {
        text-transform: uppercase;
    }
    .text--bold {
        font-weight: bold;
    }

    .box {
        width: max-content;
        border: 1px solid #010101;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 20px auto 0; 
    }
    .box ul {
        padding: 0;
    }
    .box ul li {
        text-align: left;
        list-style: none;
    }
</style>